 body{
   color: 333
   font-family:Verdana,sans-serif;
   margin: 0
}

header{
  background: ;
  text-align:right;
  padding: 10px;
  height:240px;
  background-size:cover;
  background-position: 50% 50%;
  background-image: url(file:///C:/Users/tked0.DESKTOP-CBGEA7P/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/header.png);
  margin-bottom: 60px;
}
.royalblue{
  border-bottom: 4px solid royalblue;
}
header ul{
  margin:0
  list-style-type:none;
  padding-left: 0;
  margin:0;

}
header li{
  display:inline-block;
  padding:4px 8px;
  font-size: 12px:
}
header  a{
  text-decoration: none;
  color:inherit;
}
header a:hover{
  color: royalblue;
}
section{
  text-align: center;
}
section h1{
  font-weight:normal;
}
section p{
  margin-top: 0;
  font-size: 14px;
}
section h1{
  margin-bottom: 8px:
}
.icon{
  border-radius: 50%;
  border:5px solid white;
  box-shadow: 0px 0px 5px gray;
}
.works{
  width: 400px;
  margin-left: auto;
  margin-right:auto;
  margin:60px auto;
  border-bottom:1px solid gray;
}
.works h1,
.works p
{
  text-align: left;
}
.works > section{
  margin-bottom:40px;
}
footer{
  width:400px;
  margin:0 auto 60px;

}
footer ul{
  margin:0
  list-style-type:none;
  padding-left: 0;
  margin:0;
float:left;
}
footer li{
  display:inline-block;

}
footer li > a:hover{
  opacity:0.6;
}
footer p{
  color :lightgray;
  font-size: 14px;
  text-align: right;

}
.about{
  width: 400px;
  margin:0 auto 60px;
}
.about p{
  text-align: left;
}

